.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(315deg, #688a46, #57743b);
}

.main-content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
